{% load static %}
<!DOCTYPE html> <!-- Используется html 5 версии -->
<html lang="ru"> <!-- Язык сайта - русский -->
  {% include 'includes/head.html' %}
    <body>
      {% include 'includes/header.html' %}
      {% block content %}
      контента нет
      {% endblock  %}
      <!-- Использованы классы бустрапа: -->
      <!-- border-top: создаёт тонкую линию сверху блока -->
      <!-- text-center: выравнивает текстовые блоки внутри блока по центру -->
      <!-- py-3: контент внутри размещается с отступом сверху и снизу -->         
      {% include 'includes/footer.html' %}
    </body>
</html>